.mainContent{
  display: flex;
  flex-direction: column;
  
}
.userBox{
   display: flex;
   flex-direction: column;
   width: 100px;
   height: 100px;
   background-color: aqua;
}
.userPhoto {
width: 100px;
height: 100px;
margin-bottom:10px;
}
.usersPage{
   display: flex;
   justify-content: center;
   font-weight: bold;
}
.usersPagesColor {
   color:red
}
.imgfetching{
   display: block;
   width: 100px;
   height: 100px;
}
.imgfetching2{
   display: none;
   width: 100px;
   height: 100px;
}
.username{
   margin-top: 50px;
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
}